.campo-tel {
    width: 9em;
    margin-right: 1em;
}

.campo-sobre {
    width: 10em;
}

.btn-remove-small {
    margin-left: 1em;
    margin-right: 1em;
}

.img-remove-btn {
    width: 1.6em;
    height: auto;
}

#div-telefones {
    height: 100%;
    max-height: 12em;
    overflow-y: scroll;
}

@media screen and (max-width:1068px) {
    #telefone {
        padding-bottom: 5px;
        margin-bottom: 10px;
        border: 1px solid grey;
    }
    #div-telefones {
        height: 100%;
        margin-left: 2px;
        margin-right: 2px;
        padding: 0;
        max-height: 10em;
    }
}

@media screen and (max-width: 577px) {
    #btn-remove {
        margin: 0%, 0%, 0%, 0%;
        padding: 2%;
    }
    #div-telefones {
        height: 100%;
        max-height: 12em;
        overflow-y: scroll;
    }
}

@media screen and (max-width: 324px) {
    #div-telefones {
        height: 100%;
        max-height: 13em;
        overflow-y: scroll;
    }
    #btn-remove {
        position: absolute;
        right: 5%;
        margin-top: -2.5em;
        /* top: auto !important */
        /*left: 2em; */
    }
    #radio-principal {
        position: absolute;
        right: 2%;
        padding-top: 5%;
        margin-right: 3%;
    }
}