<div class="row main-menu">

  <div class="col-lg-4">
    <div class="main-menu-item">
      <a href="">
        <img class="main-menu-img" src="../../../assets/icons/caixa.png">
        <h2>Caixa</h2>
      </a>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="main-menu-item">
      <a href="">
        <img class="main-menu-img" src="../../../assets/icons/estoque.png">
        <h2>Estoque</h2>
      </a>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="main-menu-item">
      <a (click)="redirectToClientes()">
        <img class="main-menu-img" src="../../../assets/icons/clients.png">
        <h2>Clientes</h2>
      </a>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="main-menu-item">
      <a href="">
        <img class="main-menu-img" src="../../../assets/icons/clients.png">
        <h2>Clientes</h2>
      </a>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="main-menu-item">
      <a href="">
        <img class="main-menu-img" src="../../../assets/icons/clients.png">
        <h2>Clientes</h2>
      </a>
    </div>
  </div>


  <div class="col-lg-4">
    <div class="main-menu-item">
      <a href="">
        <img class="main-menu-img" src="../../../assets/icons/clients.png">
        <h2>Clientes</h2>
      </a>
    </div>
  </div>





</div>