#nomeRazao {
  width: 80%;
}

/* img {
    max-width: 100%
  } */

@media screen and (max-width: 890px) {
  #menu-lateral {
    display: none;
  }
  #menu-inferior {
    display: inline;
  }
}

@media(min-width:889px) {
  #menu-inferior {
    display: none;
  }
  #menu-lateral {
    display: inline;
  }
}

/* @media screen and (min-width: 701px) {
    #menuLateral {
      display: none;
    }
    #div-desktop {
      display: block;
    }
  } */